<div class="aulas-container">
    <section>
      <h1>Rotas</h1>
      <p>Aula 3 - 26/02/2025</p>
      <button (click)="calculadora()">Ir para Calculadora</button>
    </section>
  
    <section>
      <h1>TypeScript e Data Binding</h1>
      <p>Aula 5 - 12/03/2025</p>
      <button (click)="mediaSimples()">Ir para Média Simples</button>
    </section>
  
    <section>
      <h1>Diretivas</h1>
      <p>Aula 7 - 26/03/2025</p>
      <button (click)="diretivas1()">Ir para Exemplo de Diretivas</button>
    </section>
  
    <section>
      <h1>Passagem de Parâmetros em Rotas</h1>
      <p>Aula 8 - 02/04/2025</p>
      <button (click)="diretivas1()">Ir para Exemplo de Diretivas</button>
    </section>
  
    <section>
        <h1>AC1</h1>
        <p>Parte 2 - 09/04/2025</p>
        <button (click)="home()">Ir para Home</button>
        <button (click)="sobre()">Ir para Sobre Nós</button>
        <button (click)="produto()">Ir para Produtos</button>
      </section>

    <section>
      <h1>Formulários e Validações</h1>
      <p>Aula 9 - 16/04/2025</p>
      <button (click)="cadastros1()">Ir para Cadastro de Usuário</button>
      <button (click)="cadastros2()">Ir para Cadastro de Pessoa</button>
    </section>


    <section>
      <h1>Node.Js + Services</h1>
      <p>Aula 13 - 07/05/2025</p>
      <button (click)="produto()">Ir para Tela de Produtos com o node.js</button>
    </section>
  </div>
  