<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
                <tr >
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Tem estoque</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of produtos;">
                    <th>{{produto.id}}</th>
                    <th>{{produto.nome}}</th>
                    <th>{{produto.valor}}</th>
                    <th>{{produto.temEstoque}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- <div class="row">
    <div class="col-12">
        <li *ngFor="let produto of produtos;">
            <i>{{produto.id}} </i>
            <i>{{produto.nome}} </i>
            <i>{{produto.preco}} </i>
            <i>{{produto.descricao}} </i>
            <i><button (click)="comprar(produto)" class="btn btn-primary mt-2 mb-2"
                    [ngStyle]="{'background-color' : produto.emEstoque? 'blue': 'gray'}">Comprar</button></i>
            <i>{{produto.status}} </i>

        </li>

    </div>
</div> -->