<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="home" routerLinkActive="active" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="calculadora" routerLinkActive="active" class="nav-link">Calculadora</a></li>
      <li class="nav-item"><a routerLink="media-simples" routerLinkActive="active" class="nav-link">Média Simples</a></li>
      <li class="nav-item"><a routerLink="apolice" routerLinkActive="active" class="nav-link">Apólice</a></li>
      <li class="nav-item"><a routerLink="conversor" routerLinkActive="active" class="nav-link">Conversor de Temperatura</a></li>
      <li class="nav-item"><a routerLink="imc" routerLinkActive="active" class="nav-link">Calculadora de IMC</a></li>
      <li class="nav-item"><a routerLink="exemplo-diretivas" routerLinkActive="active" class="nav-link">Exemplo Diretivas</a></li>
      <li class="nav-item"><a routerLink="tarefas" routerLinkActive="active" class="nav-link">Tarefas</a></li>

    </ul>
  </header>